<body class="body-home">
  <div class="nav-div">
    <div class="img-div">
      <%= image_tag "buzz.png", :class => "nav-img" %>
      <ul class="nav-list">
      <li>About</li>
      <li>Blog</li>
      <li>Pricing</li>
      <li>News</li>
      <li>Support</li>
      </ul>
    </div>
    
    <div class="cta-button">
      <button class="sign-in-btn">Sign in</button>
      <button class="register-btn">Register</button>
    </div>
  </div>



</body>



