#user_index_page {

    a {
        text-decoration: none;
        transition: 300ms;
        color: #ffdc5e;
        padding-bottom: 1px;
        border-bottom: 1px solid rgba(255, 255, 255, 0);

        &:hover {
            color: #fff;
            border-bottom: 1px solid rgb(255, 255, 255);

        }
    }

    .users_table {
        display: flex;
        flex-direction: column;

        .id_user_able {
            width: 30px;

        }

        .name_user_able {
            width: 150px;

        }

        .email_user_able {
            width: 180px;
        }

        .role_user_able {
            width: 100px;
        }

        .actions_user_able {
            width: 130px;

        }

        h3, p {
            text-align: center;
            // border-right: 1px solid #fff;
            // border-left: 1px solid #fff;

        }
    }

    .users_header {
        display: flex;
        padding: 5px;
    }

    // ul {
    //     background-color: aquamarine;
    // }
    .user_iteration {
        display: flex;
        padding: 5px;
        border-bottom: 1px solid rgba(255, 255, 255, .1);

    }
}