.img-div {
display: flex;
font-size: 2rem;
padding-left: 4rem;
align-items: center;
}

.nav-div {
display: flex;
justify-content: space-between;
color: #fff;
background-color: #463f3a;
padding: 2px;
}

.nav-img {
height: 5rem;
padding-top: 2rem;
}

.nav-list {
list-style: none;
display: flex;
justify-content: space-around;
gap: 4rem;
font-size: 22px;
align-items: center;
padding-top: 2rem;
margin-left: 3rem;
}

.cta-button {
padding-top: 2rem;
padding-right: 5rem;
align-items: center;
display: flex;
gap: 2.5rem;

}

.sign-in-btn {
background-color: transparent;
border: none;
font-size: 22px;
color: #ffdc5e;

    a {
        color: #fff;

        &:hover {
        color: #ffdc5e;
        }
    }
}

.register-btn {
border: none;
font-size: 22px;
background-color: #ffdc5e;
border-radius: 20px;
padding: 5px 25px 8px 25px;
transition: 300ms;

    &:hover {
        background-color: #fff;

        a {
            color: rgb(243, 24, 24);
        }
    }

    a {
        color: #22223b;
    }
}